.sidebar__container {
    padding: 15px;
    background: #ffffff;
    border: 1px solid #bebdbd;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-bottom: 67px;
    display: flex;
    flex-direction: column;
}

.sidebar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__info {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}

.sidebar {
    width: 420px;
}



.sidebar__price,
.sidebar__price-new {
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
}

.sidebar__price {
    font-size: 16px;
    line-height: 16px;
    color: #888888;
    text-decoration: line-through;
}

.sidebar__price-new {
    font-size: 32px;
    line-height: 39px;
    user-select: none;
}

.sidebar__discount {
    font-weight: 500;
    color: #f3eded;
    margin-left: 5px;
    padding: 5px 5px;
    background: rgb(197, 158, 230);
    border-radius: 100px;
    font-size: 14px;
}

.sidebar__heart-svg path {
    fill: grey;
}

.sidebar__heart-svg:hover {
    cursor: pointer;
}

.sidebar__heart-svg--disabled:hover {
    cursor: pointer;
}

.sidebar__heart-svg:hover path {
    fill: rgb(163, 8, 8);
}

.sidebar__heart-svg:active path {
    fill: rgb(121, 15, 15);
}

.sidebar__heart-svg--disabled path {
    fill: rgb(255, 0, 0);
}

.sidebar__button {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 49px;
    height: 64px;
    background: rgb(222, 202, 238);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    user-select: none;
}

.sidebar__button::before {
    position: absolute;
    content: '';
    background-image: url(./img/Cart__sidebar-closed.svg);
    background-size: cover;
    width: 25px;
    height: 25px;
    top: 17px;
    left: 75px;
}

.sidebar__button--disabled {
    background: rgb(87, 84, 84);
    color: white;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 49px;
    height: 64px;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
}

.sidebar__button--disabled::before {
    position: absolute;
    content: '';
    background-image: url(./img/Cart__sidebar-open.svg);
    background-size: cover;
    width: 25px;
    height: 25px;
    top: 17px;
    left: 63px;
}

.sidebar__button:hover {
    background: rgb(197, 144, 240);
}

.sidebar__button:active {
    background: rgb(98, 2, 128);
}

.sidebar__button--disabled:hover {
    background: rgb(119, 112, 112);
}

.sidebar__button--disabled:active {
    background: rgb(58, 52, 52);
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .sidebar {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .sidebar {
        width: 320px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .sidebar__button::before {
        left: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .sidebar__button--disabled::before {
        left: 45px;
    }
}

@media (max-width: 360px) {
    .sidebar__button--disabled::before {
        left: 30px;
    }
}

@media (max-width: 360px) {
    .sidebar__button::before {
        left: 50px;
    }
}