.form {
    margin-top: 10px;
    padding: 20px;
    background: rgb(222, 202, 238);
    border: 1px solid #bebdbd;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    margin-left: 180px;
    user-select: none;
    width: 700px;
}


@media (min-width: 1024px) and (max-width: 1499px) {
    .form {
        margin-left: 0;
        width: 600px;
    }
}

@media (max-width: 360px) {
    .form {
        margin-left: 0;
        width: 330px;
    }
}

.form__inner {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

@media (max-width: 360px) {
    .form__inner {
        display: block;
    }
}