.wrapper {
    width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .wrapper {
        padding: 0 15px;
        width: 1024px;
    }
}

@media (max-width: 360px) {
    .wrapper {
        width: 360px;
        padding: 0 15px;
    }
}